body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
}

.container {
    margin: 50px auto;
    padding: 20px;
    max-width: 500px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

input[type="file"] {
    margin-bottom: 10px;
}

button[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

progress {
    display: block;
    margin: 20px 0;
    width: 100%;
    height: 20px;
}

.hide {
    display: none !important;
}

/* Style for the loader overlay */
#loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for the loader */
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

/* Animation for the loader */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Style for the page content */
#page-content {
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

/* Style for the page content when the loader is active */
#loader-overlay.active #page-content {
    opacity: 0.5;
    pointer-events: none;
}
